includeConfig "modules/base.config"

params {
    min_mapq = 30
    min_map_id = 97
    min_ctg_len = 2048
    custom_preproc = ""
    seed = 42
    
    outdir = 'results'
    truth = 'truth.csv'
    with_checkv = false

    coconet {
        args = "--min-prevalence 2"
    }

    concoct {
        max_clusters = 2000
    }

    checkv {
        db = "$HOME/db/checkv-db-v0.6"
    }
}

conda.cacheDir = '/tmp/cedric/conda-nf'


process {
    executor = 'local'

    withLabel: 'process_low' {
       cpus = 1
       memory = 4.GB
   }
    withLabel: 'process_medium' {
       cpus = 5
       memory = 20.GB
   }
    withLabel: 'process_high' {
       cpus = 20
       memory = 90.GB
   }

    
}
