includeConfig "modules/base.config"

params {
    min_mapq = 30
    min_map_id = 97
    min_ctg_len = 2048
    fl_range = "200 500"
    seed = 42
    
    outdir = 'output_binning_workflow'

    coconet {
        min_prevalence = 2
        theta = 0.8
        gamma1 = 0.1
        gamma2 = 0.75
        features = "coverage composition"
    }

    concoct {
        max_clusters = 200
    }

    checkv {
        db = "$HOME/db/checkv-db-v0.6"
    }
}

conda.cacheDir = '/tmp/cedric/conda-nf'


process {
    executor = 'local'

    withLabel: 'process_low' {
       cpus = 1
       memory = 4.GB
   }
    withLabel: 'process_medium' {
       cpus = 5
       memory = 20.GB
   }
    withLabel: 'process_high' {
       cpus = 20
       memory = 90.GB
   }

    
}
