work
.nextflow*
test-*
output*
sherpa-results*
archive
reviewers.md
500_*
2000_*
Station_Aloha
*.pdf
*.png
*.bak
*.txt
results*
input-data
Station-Aloha*
hyperparameters_opt
!hyperparameters_opt/main.py
!hyperparameters_opt/makefile