params {
    outdir = 'results/station-ALOHA'
    run_assembly = false
}

process {
    executor = 'local'
    cpus = 1
    memory = 5.GB
    container = 'nakor/coconet-paper-station-aloha'
    
    withLabel: medium_computation {
        cpus = 5
        memory = 20.GB
    }
    withLabel: high_computation {
        cpus = 20
        memory = 90.GB
    }
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
        includeConfig 'conf/base.config'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        includeConfig 'conf/base.config'
    }
    hpc {
        includeConfig 'conf/hpc.config'
    }
    hpc_test {
        includeConfig 'conf/hpc_test.config'
    }
}
