params {
    outdir = 'analysis-Station-Aloha'
}

process {
    executor = 'local'
    cpus = 1
    memory = 5.GB
    container = 'nakor/coconet-paper-sa'
    
    withLabel: medium_computation {
        cpus = 5
        memory = 20.GB
    }
    withLabel: high_computation {
        cpus = 20
        memory = 90.GB
    }
}
