params {
  db = "${HOME}/databases/ncbi-db-20191020/viral.genomic.ACGT.fasta"
  outdir = "camisim_results"
  camisim_path = "${HOME}/.local/src/CAMISIM-0.2.2"
}

process {
   executor = 'local'

   withLabel: low_computation {
   	      cpus = 4
	      memory = 8.GB
	      time = '1h'
	      }
		  
   withLabel: medium_computation {
   	      cpus = 8
	      memory = 32.GB
	      time = '12h'
	      }

   withLabel: high_computation {
   	      cpus = 10
	      memory = 70.GB
	      time = '2d'
   }

   withLabel: python2 {
          beforeScript = "source ${HOME}/.py2Env/bin/activate"
   }

   withLabel: python3 {
   		  beforeScript = 'source ${HOME}/.py3Env/bin/activate'
   }
}