params {
    outdir = 'output-camisim-pipeline'
    min_genome_size = 3000

    // CAMISIM parameters
    cami_data = "/opt/CAMISIM" // location in docker environment
    log_sigma = 1 // mean of lognormal distribution
    log_mu = 2 // std of lognormal distribution
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
        includeConfig 'conf/base.config'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        includeConfig 'conf/base.config'
    }
    hpc {
        includeConfig 'conf/hpc.config'
    }
}
