executor{
  jobName = { "$task.tag" }
  queueSize = 60
}

process {
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
   maxRetries = 2
}

profiles {
  manoa_hpc {
    includeConfig 'manoa_hpc.config'
  }
  local {
    includeConfig 'local.config'
  }
}