params {
    conda = false
    outdir = 'output-camisim-pipeline'
    min_genome_size = 3000

    // CAMISIM parameters
    cami_data = "/opt/CAMISIM" // location in docker environment
    log_sigma = 1 // mean of lognormal distribution
    log_mu = 2 // std of lognormal distribution
}

process {
    stageInMode = 'symlink'

    withLabel: 'low_computation' {
        cpus = 1
        memory = 4.GB
    }
    withLabel: 'medium_computation' {
        cpus = 5
        memory = 20.GB
    }
    withLabel: 'high_computation' {
        cpus = 20
        memory = 90.GB
    }        
}

profiles {
    conda  {
        params.conda = true
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}
